.skr{
    border: 4px solid black;
}
.tkr{
    color:yellow;
}

.rmr{
    color:yellow;
}

.akr{
    color:chartreuse;
}
.gopal{
    color: red;
    font-weight: bold;
}

.ukp{
    height: 40px;
}